<!-- app/templates/bands/band/songs.hbs -->
<div class="row">
  <ul class="list-group songs">
    <li class="list-group-item">
      {{input type="text" class="new-song" placeholder="New song"
              value=title}}
      <button class="btn btn-primary btn-sm new-song-button" {{action
        "createSong"}}>Add</button>
    </li>
    {{#each model.songs as |song|}}
      <li class="list-group-item song">
        {{song.title}}
        {{star-rating item=song rating=song.rating
                      setAction="updateRating"}}

        <!--<span class="rating pull-right">{{!song.rating}}</span>-->
      </li>
    {{/each}}
  </ul>
</div>