{{!-- welcome-page --}}

<div class="container">
  <div class="row list-wrapper push-down-m">
    <div class="col-md-6">
      <div class="page-header">
        {{#link-to 'index'}}
          <h1>Rock & Roll<small> with Ember.js</small></h1>
        {{/link-to}}
      </div>
      <div class="row">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
